.button {
  background-color: #8ebfe0;
  height: 34px;
  padding: 0 10px;
  min-width: 68px;
  font-size: 16px;
  color: #343a40;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

button:disabled {
  background: #7a7a7a;
  cursor: auto;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

/* #d9e2f1 */
