.container-home {
  display: flex;
  justify-content: space-around;
  margin: 3vh 10vh;
  font-family: 'Ubuntu', sans-serif;
  align-items: center;
}

.title-box {
  display: flex;
  flex-direction: column;
}

.img-dog {
  width: 60vh;
}

.title {
  font-weight: 700;
  font-size: 45px;
  color: #25395c;
  line-height: 8vh;
  letter-spacing: 0.5px;
  text-align: center;
}

.sub-title {
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 20px;
  color: #767676;
  text-align: center;
  margin-top: 1vh;
}

.text {
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 15px;
  color: #343a40;
  text-align: center;
  margin-top: 4vh;
}

.name-home {
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 18px;
  color: #25395c;
  text-align: center;
  margin-top: 4vh;
}

.box-text-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-pet-home {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
  color: #3b3b3b;
  line-height: 8vh;
  text-align: center;
}



